.page-title {
    text-align: center;
    color: #800000;
    margin-bottom: 20px;
}

ol.patient-list {
    list-style: none;
    padding: 0;
}

.patient-item {
    background: #F0E68C;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.patient-item:hover {
    background: #8FBC8F;
}

.patient-detail {
    background:#F5F5F5;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}