# Python internals
__pycache__/
*.py[cod]
*$py.class

# Odoo specific
*.conf
.env
/venv/
/env/
*.log
/filestore/
/session_store/

# System files (Mac/Windows)
.DS_Store
Thumbs.db

# Editor settings (VS Code, PyCharm)
.vscode/
.idea/